@keyframes move {
    0% {
        transform: translateY(-90%);
        filter: blur(2px);
    }

    100% {
        transform: translateY(1%);
        filter: blur(2px);
    }
}

@keyframes num-bounce {
    0% {
        transform: translateY(calc(var(--num) * -9.09% - 7%));
        filter: none;
        /* 最后取消模糊效果 */
    }

    25% {
        transform: translateY(calc(var(--num) * -9.09% + 3%));
    }

    50% {
        transform: translateY(calc(var(--num) * -9.09% - 1%));
    }

    70% {
        transform: translateY(calc(var(--num) * -9.09% + 0.6%));
    }

    85% {
        transform: translateY(calc(var(--num) * -9.09% - 0.3%));
    }

    100% {
        transform: translateY(calc(var(--num) * -9.09%));
        filter: none;
        /* 最后取消模糊效果 */
    }
}

@keyframes border-bounce {
    25% {
        transform: translateY(7%);
    }

    50% {
        transform: translateY(-3%);
    }

    70% {
        transform: translateY(4%);
    }

    85% {
        transform: translateY(-1%);
    }

    100% {
        transform: translateY(0);
    }
}