// 右侧金币
.pop1 {
    background-image: url('../images/pop_1.png');
    width: 299px;
    height: 294px;
}

// 左侧蓝色小花
.pop2 {
    background-image: url('../images/pop_2.png');
    width: 275px;
    height: 276px;
}

// 右侧粉色小花
.pop3 {
    background-image: url('../images/pop_3.png');
    width: 189px;
    height: 186px;
}

// 左侧金色小花
.pop4 {
    background-image: url('../images/pop_4.png');
    width: 192px;
    height: 191px;
}

// 左侧金币
.pop5 {
    background-image: url('../images/pop_5.png');
    width: 209px;
    height: 217px;
}

// 右侧小圆粉
.pop6 {
    background-image: url('../images/pop_6.png');
    width: 98px;
    height: 98px;
}



.num0 {
    background-image: url('../images/numbers/0.png');
}

.num1 {
    background-image: url('../images/numbers/1.png');
}

.num2 {
    background-image: url('../images/numbers/2.png');
}

.num3 {
    background-image: url('../images/numbers/3.png');
}

.num4 {
    background-image: url('../images/numbers/4.png');
}

.num5 {
    background-image: url('../images/numbers/5.png');
}

.num6 {
    background-image: url('../images/numbers/6.png');
}

.num7 {
    background-image: url('../images/numbers/7.png');
}

.num8 {
    background-image: url('../images/numbers/8.png');
}

.num9 {
    background-image: url('../images/numbers/9.png');
}